<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org/"
	th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>User Dashboard</title>
</head>
<body>
	<section>
		<div class="card mr-3 ml-4">
			<div class="card-body">
				<h1 class="text-center">Add Contact</h1>
				<div class="contianer-fluid mt-1">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<form action="#" th:object="${contact}"
								enctype="multipart/form-data" method="POST"
								th:action="@{/user/process-contact}" class="mt-2">

								<!-- first Name -->
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fas fa-plus"></i>
										</div>
									</div>
									<input type="text" id="firstName" name="name"
										placeholder="Enter Name Here" class="form-control">
								</div>
								<!-- second name -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fas fa-user-alt"></i>
										</div>
									</div>
									<input type="text" id="secondName" name="secondname"
										placeholder="Enter Nick name" class="form-control">
								</div>
								<!-- phone field -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fas fa-phone"></i>
										</div>
									</div>
									<input type="number" id="phone" name="phone"
										placeholder="Enter phone Number" class="form-control">
								</div>
								<!-- email field -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">@</div>
									</div>
									<input type="text" id="email" name="email"
										placeholder="Enter Email here" class="form-control">
								</div>

								<!-- work  -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fas fa-briefcase"></i>
										</div>
									</div>
									<input type="text" id="work" name="work"
										placeholder="Enter your work" class="form-control">
								</div>
								<!--  Description -->
								<div class="form-group mt-3">
									<textarea name="description" id="description"
										class="form-control" rows="10"></textarea>
								</div>
								<!-- Image file -->
								<div class="custom-file">
									<input type="file" name="profileImage">
								</div>
								<div class="container text-center">
									<button class="btn btn-outline-primary">Save Contact</button>
								</div>

							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>