<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org/"
	th:replace="base::Layout(~{::section})">

<head>
<meta charset="ISO-8859-1">
<title>Change Password</title>
</head>
<body>
	<section>
		<div id="login">

			<div class="container">
				<div id="login-row"
					class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" style="height: 250px" class="col-md-12">
						
						
							<form action="" method="post" th:action="@{/change-password}">
								<div class="form-group">
									<input required="required" type="password" name="newpassword"
										class="form-control" placeholder="enter newpassword">
								</div>
								<div class="contianer text-center">
									<button class="btn btn-primary">Change Password</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

</body>
</html>