<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org/"
	th:replace="base::Layout(~{::section})">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="my-card mt-1">
						<div th:if="${session.message}"
							th:classappend="${session.message.type}" class="alert"
							role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
						<div class="text-center">
							<img style="width: 60px" alt="" src=""
								th:src="@{/img/register.png}">
						</div>
						<h1 class=" text-center">Register Here</h1>
						<form  novalidate action="" th:action="@{/do_register}" method="post"
							th:object="${user}">
							<!-- name file -->
							<div class="form-group">
								<label for="name_field">Name</label> <input name="name"
									type="text" class="form-control "
									th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}"
									 id="name_field"
									aria-describedby="emailHelp" placeholder="Enter Here" required
									th:value="${user.name}" />
								<div class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}">Please choose a username.</div>
							</div>
							<!-- email file -->
							<div class="form-group">
								<label for="email_field">Your Mail</label> <input name="email"
									type="email" class="form-control" id="email_field"
									aria-describedby="emailHelp" placeholder="Enter Here"
									required="required" th:value="${user.email}" />
							</div>
							<!-- password file -->
							<div class="form-group">
								<label for="password_field">Your Password</label> <input
									name="password" type="password" class="form-control"
									id="password_field" aria-describedby="emailHelp"
									placeholder="Enter Here" required="required"
									th:value="${user.password}" />
							</div>
							<!--about file  -->
							<div class="form-group">
								<textarea name="about" placeholder="about yourself" rows="5"
									class="form-control" th:value="${user.about}"></textarea>
							</div>
							<div class="form-group form-chek text-center">
								<input type="checkbox" name="aggrement" class="form-check-input"
									id="agrrement" /> <label for="agrrement">Accept terms
									and conditions</label>
							</div>
							<div class="container text-center">
								<button type="submit" class="bnt btn-primary  text-white">Submit</button>
								<button type="reset" class="bnt btn-warning ">Reset</button>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>